
### Yii ###
assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
*/.DS_Store
#protected/config/*

## questoes ##
pdfs/*
pdfs/**
questoes/*
questoes/**
protected/modules/editor/works/*
protected/modules/editor/works/**
