#app {
    padding-top: 70px;

    * { outline: none; }

    .gg-list {
        max-width: 500px;

        li { cursor: pointer; }
    }

    .gg-clock {
        max-width: 500px;
        margin: 0 auto 20px;
        text-align: center;
        font-size: 26px;
    }

    #login, #signup {
        form { max-width: 500px; }

        button { margin-top: 30px; }
    }

    #top-rated-btn { margin-bottom: 20px; }
}

@media (min-width: 1200px) {
    .container{
        max-width: 1010px;
    }
}
