html, body {
  padding: 0;
  margin: 0; }

.actions {
  text-align: center; }

#top {
  background-color: #083D56;
  padding: 0;
  margin: 0; }

#header {
  background-color: #0E5F76;
  background-image: none;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-y: auto; }

#main {
  padding: 1em 4em 4em 4em; }

#social-menu, #contato-btn {
  margin-top: 5px; }

#social-menu {
  margin-left: 15px;
  float: left; }

#contato-btn {
  margin-right: 15px;
  float: right; }

#contato-box {
  margin-top: 50px;
  margin-bottom: -50px;
  text-align: right; }

#tempo {
  margin-top: 50px;
  padding: 40px 0px;
  text-align: center; }
  #tempo div {
    display: inline-block;
    vertical-align: top;
    margin: 0px 4px;
    font-size: 75px;
    font-family: arial;
    color: #0C2233; }
  #tempo small {
    font-size: 20px;
    color: #0C2233; }

#added-gallery {
  padding-left: 0.5em;
  padding-right: 0.5em; }
  #added-gallery > a {
    display: inline-block;
    float: left;
    margin: -0.4em 0.1em 0.1em 0.1em;
    height: 107px; }

.added-img {
  position: relative; }
  .added-img > img {
    width: 65px;
    border-radius: 0.35em;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out; }
    .added-img > img:hover {
      opacity: 0.5; }

.button {
  color: #efefef !important; }

#search-area {
  padding: 4em 4em 4em 4em; }
  #search-area > form > input {
    font-size: 35px;
    background-color: #0C2233;
    transition: border-color 0.2s ease-in-out;
    -moz-transition: border-color 0.2s ease-in-out;
    -webkit-transition: border-color 0.2s ease-in-out;
    -ms-transition: border-color 0.2s ease-in-out; }

.div-image {
  display: inline-block;
  vertical-align: top;
  margin-left: 0.5em;
  cursor: pointer;
  border: 2px solid transparent; }
  .div-image img {
    width: 215px;
    border-radius: 0.35em;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out; }
  .div-image img:hover {
    opacity: 0.3; }
  .div-image img.added {
    opacity: 0.5;
    border: 2px solid #FFAB00; }
  .div-image p {
    width: 215px;
    margin-bottom: 1em;
    margin-top: -0.5em;
    line-height: 18px; }
