$screen-division: 35%;

$theme-color: #083D56;
$theme-color-light: #0E5F76;
$theme-color-dark: #0C2233;
$theme-color-4: #49bf9d;

$whole-space-top-bottom: 10px;

$timer-font-size-l: 75px;
$timer-font-size-s: 20px;
$timer-margin-top-bottom: 55px;

$added-img-width: 15%;
$listed-img-width: 22%;

$search-input-height: 90px;
$search-input-width: 60%;
$search-input-font-size: 40px;

@mixin animate($prop, $duration) {
  transition: $prop $duration ease-in-out;
  -moz-transition: $prop $duration ease-in-out;
  -webkit-transition: $prop $duration ease-in-out;
  -ms-transition: $prop $duration ease-in-out;
}

@mixin imag-divi($width) {
  display: inline-block;
  vertical-align: top;
  width: 15%;
  cursor: pointer;

  img {
    width: 100%;

    opacity: 1;
    @include animate(opacity, 0.15s);

    &:hover {
      opacity: 0.5;
    }
  }
}

@mixin btn-divi($margin) {
  text-align: center;
  margin: $margin;

  .icon:hover {
    color: $theme-color-light;
    @include animate(color, 0.15s);
  }
}

html {
  background-color: $theme-color;
  font-family: arial;
}

.icon {
  color: $theme-color-4;
}

#left-side {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: $screen-division;
  background-color: $theme-color-light;
  overflow-y: auto;

  #header {
    margin-top: $whole-space-top-bottom;
    text-align: center;

    .icon {
      margin: 0 8px;

      &:hover {
        color: $theme-color;
        @include animate(color, 0.15s);
      }
    }
  }

  #contact-box {
    margin-top: 40px;
    color: $theme-color-dark;
    text-align: center;
    font-size: 20px;

    a {
      color: $theme-color-4;
      text-decoration: none;
    }
  }

  #tempo {
    margin: $timer-margin-top-bottom 0;
    text-align: center;

    div {
      display: inline-block;
      vertical-align: top;
      text-align: center;
      line-height: 25px;
      color: $theme-color-dark;
      font-size: $timer-font-size-l;
    }

    small {
      color: $theme-color-dark;
      font-size: $timer-font-size-s;
    }
  }

  #reset-btn-div {
    text-align: center;
    margin: 0 0 30px;

    .icon {
      &:hover {
        color: $theme-color;
        @include animate(color, 0.15s);
      }
    }
  }

  #added-show-list {
    text-align: center;

    .added-img-div {
      margin: 0 2px;
      @include imag-divi($added-img-width);
    }
  }
}

#right-side {
  position: absolute;
  top: 0;
  left: $screen-division;
  width: 100% - $screen-division;

  #switch-btn-div {
    @include btn-divi(60px 0 40px)
  }

  #search-area {
    margin: 160px 0;
    text-align: center;

    input[type='text'], textarea {
      height: $search-input-height;
      width: $search-input-width;
      padding: 0 20px;
      background-color: $theme-color-dark;
      color: grey;
      font-size: $search-input-font-size;
      outline: none;

      border: 3px solid $theme-color;
      @include animate(border, 0.15s);
    }

    input[type='text']:focus, textarea:focus {
      border: 3px solid $theme-color-4;
    }
  }

  #list-area {
    text-align: center;
    
    // .img-div {
    //   // @include imag-divi(52%);

    //   display: inline-block;
    //   vertical-align: top;
    //   width: $listed-img-width;
    //   cursor: pointer;
    //   margin: 0 2px;

    //   border: 2px solid transparent;
    //   @include animate(border, 0.15s);

    //   img {
    //     width: 100%;

    //     opacity: 1;
    //     @include animate(opacity, 0.15s);
    //   }

    //   img:hover {
    //     opacity: 0.5;
    //   }

    //   .added {
    //     opacity: 0.3;
    //     border: 3px solid #FFAB00;
    //   }

    //   p {
    //     width: 100%;
    //     margin: 0 0 25px;
    //     color: $theme-color-4;
    //   }
    // }

    #more-btn-div {
      @include btn-divi(20px 0 $whole-space-top-bottom)
    }
  }

  .img-div {
    // @include imag-divi(52%);

    display: inline-block;
    vertical-align: top;
    width: $listed-img-width;
    cursor: pointer;
    margin: 0 2px;

    border: 2px solid transparent;
    @include animate(border, 0.15s);

    img {
      width: 100%;

      opacity: 1;
      @include animate(opacity, 0.15s);
    }

    img:hover {
      opacity: 0.5;
    }

    .added {
      opacity: 0.3;
      border: 3px solid #FFAB00;
    }

    p {
      width: 100%;
      margin: 0 0 25px;
      color: $theme-color-4;
    }
  }
}

@media screen and (max-width: 960px) {
  #left-side {
    position: static;
    width: 100%;
  }

  #right-side {
    position: static;
    width: 100%;

    #switch-btn-div {
      margin: 30px 0;
    }

    #search-area {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 480px) {
  #right-side {
    #list-area {
      .img-div {
        width: 43%;
      }
    }
  }
}