$themeColor: #083D56;
$themeColorLight: #0E5F76;
$themeColorDark: #0C2233;
$themeColor4: #49bf9d;

$timerFontSizeL: 75px;
$timerFontSizeS: 20px;
$searchInputFontSize: 35px;

@mixin animate($prop, $time) {
  transition: $prop $time ease-in-out;
  -moz-transition: $prop $time ease-in-out;
  -webkit-transition: $prop $time ease-in-out;
  -ms-transition: $prop $time ease-in-out;
}

html, body {
  padding: 0;
  margin: 0;
}

.actions {
  text-align: center;
}

#top {
  background-color: $themeColor;
  padding: 0;
  margin: 0;
}

#header {
  background-color: $themeColorLight;
  background-image: none;
  padding: 0;
  margin: 0;

  height: 100%;
  overflow-y: auto;
}

#main {
  padding: 1em 4em 4em 4em;
}

// Barra superior.
#barra-superior {
  margin-top: 5px;
  text-align: center;
}

#contato-box {
  margin-top: -30px;
  margin-bottom: 30px;
  text-align: center;
}
// -------------------------------------

// Relogio.
#tempo {
  // margin-top: 50px;
  padding: 0 0 40px 0;
  text-align:center;

  div {
    display: inline-block;
    vertical-align: top;
    margin: 0px 4px;
    font-size: $timerFontSizeL;
    font-family: arial;
    color: $themeColorDark;
  }

  small {
    font-size: $timerFontSizeS;
    color: $themeColorDark;
  }
}
// -------------------------------------

// Area das imagens adicionadas.
#added-gallery {
  padding-left: 0.5em;
  padding-right: 0.5em;

  & > a {
    display: inline-block;
    float: left;
    margin: -0.4em 0.1em 0.1em 0.1em;
    height: 107px;
    border-bottom: none;
  }
}

.added-img {
  position: relative;

  & > img {
    width: 65px;
    border-radius: 0.35em;

    opacity: 1;
    @include animate(opacity, 0.2s);

    &:hover {
      opacity: 0.5;
    }
  }
}
// -------------------------------------

// Botao 'buscar/listar'.
.button {
  color: #efefef !important;
}
// -------------------------------------

// Area de busca.
#search-area {
  padding: 4em 4em 4em 4em;

  & > form > input {
    font-size: $searchInputFontSize;
    background-color: $themeColorDark;

    @include animate(border-color, 0.2s);
  }
}
// -------------------------------------

// Imagens da lista direita.
.div-image {
  display: inline-block;
  vertical-align: top;
  margin-left: 0.5em;
  cursor: pointer;
  border: 2px solid transparent;

  img {
    width: 215px;
    border-radius: 0.35em;

    opacity: 1;
    @include animate(opacity, 0.2s);
  }

  img:hover {
    opacity: 0.3;
  }

  img.added {
    opacity: 0.5;
    border: 2px solid #FFAB00; 
  }

  p {
    width: 215px;
    margin-bottom: 1em;
    margin-top: -0.5em;
    line-height: 18px;
  }
}
// -------------------------------------