$space: 15px;
$search-container-width: 800px;
$img-width-s: 70px;
$img-height-s: 105px;
$img-width-g: 342px;
$img-height-g: 513px;

body {
    margin-top: 70px;
}

#app button {
    border-radius: 0;
}

#app button:focus, button:active {
    outline: none;
}

#app input {
    border-radius: 0;
}

.alert {
    display: none;
}

.gg-time-counter {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    font-size: 22px;
    text-align: center;
    padding: $space 0;
    background-color: white;
    border-bottom: 1px solid #e7e7e7;
}

.gg-tv-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;

    li {
        display: inline-block;
    }
}

.gg-watched-list {
    @extend .gg-tv-list;

    margin: $space 0;

    img {
        width: $img-width-s;
        height: $img-height-s;
    }

    span {
        display: none;
    }
}

.gg-result-list {
    @extend .gg-tv-list;

    li {
        margin-bottom: 10px;

        img {
            display: block;
            max-width: 100%;
        }
    }
}

.gg-search-form {
    display: flex;
    text-align: center;
    margin-bottom: $space;

    input, button {
        display: inline-block;
    }

    input {
        flex: 2;
    }
}

.gg-watched {
    img {
        opacity: 0.5;
    }
}

.gg-modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

    .gg-modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        width: 80%;

        label, button {
            width: 100%;
        }
    }
}

#ranked-list-title {
    margin: $space 0;
}

#ranked-list-add-button {
    margin: $space*2 0;
}

@media (min-width: 768px) {
    body {
        margin-top: 115px;
    }

    .alert {
        max-width: $search-container-width;
    }

    .gg-lang-opt {
        cursor: pointer;
    }

    .gg-time-counter {
        font-size: 55px;
    }

    .gg-tv-list {
        li {
            cursor: pointer;
        }
    }

    .gg-result-list {
        img {
            width: $img-width-g;
            height: $img-height-g;
        }
    }

    .gg-search-form {
        max-width: $search-container-width;
    }

    .gg-modal {
        .gg-modal-content {
            max-width: 300px;
        }
    }
}
