$bottom-space: 15px;
$img-width-s: 70px;
$img-height-s: 105px;
$img-height-g: 513px;

button:focus, button:active {
    outline: none !important;
}

body {
    margin-top: 70px;
}

.gg-time-counter {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    font-size: 22px;
    text-align: center;
    padding: $bottom-space 0;
    background-color: white;
    border-bottom: 1px solid #e7e7e7;
}

.gg-tv-list {
    padding: 0;
    margin: 0;
    margin-bottom: $bottom-space;
    list-style-type: none;
    text-align: center;

    li {
        display: inline-block;
    }
}

.gg-watched-list {
    @extend .gg-tv-list;

    img {
        width: $img-width-s;
        height: $img-height-s;
    }

    span {
        display: none;
    }
}

.gg-result-list {
    @extend .gg-tv-list;

    li {
        margin-bottom: $bottom-space;

        img {
            display: block;
            max-width: 100%;
        }
    }
}

.gg-search-form {
    text-align: center;
    margin-bottom: $bottom-space;

    input, button {
        display: inline-block;
    }

    input {
        max-width: 65%;
    }
}

.gg-watched {
    img {
        opacity: 0.5;
    }
}

.gg-modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

    .gg-modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;

        button, label {
            width: 100%;
        }
    }
}

#ranked-list-add-button {
    margin-bottom: $bottom-space * 2;
}

@media (min-width: 768px) {
    body {
        margin-top: 115px;
    }

    .gg-time-counter {
        font-size: 55px;
    }

    .gg-tv-list {
        li {
            cursor: pointer;
        }
    }

    .gg-result-list {
        img {
            height: $img-height-g;
        }
    }

    .gg-search-form {
        input {
            max-width: 40%;
        }
    }

    .gg-modal {
        .gg-modal-content {
            width: 50%;
        }
    }
}
